{% extends 'base.html' %}

{% block title %}Admin Book Menu{% endblock %}

{% block content %}
<form enctype = "multipart/form-data" action="{{ url_for('admin_book_menu') }}" method="POST">
    <label for="import-book">Import Book</label>
    <br>
    <input type="file" name="file-to-import" id="import-book">
    <br>
    <button type="submit" name="import_button" value="upload" class="btn btn-warning">Import</button>
</form>

<form action="{{ url_for('admin_book_menu') }}" method="POST">
    <label for="export-all-books">Export All Books</label>
    <br>
    <button type="submit" name="export_button" id="export-all-books" class="btn btn-warning">Export</button>    
</form>

<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genres</th>
        <th>Publisher</th>
        <th>Publication Date</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for data in book_data: %}
    <tr>
        <td>{{ data['title'] }}</td>
        <td>{{ data['author'] }}</td>
        <td>{{ data['genres'] }}</td>
        <td>{{ data['publisher'] }}</td>
        <td>{{ data['publication_date'] }}</td>
        <td></td>
        <td>
            <form action="{{ url_for('admin_edit_book', book_title = data['title']) }}" method="GET">
                <button type="submit" class="btn btn-info">Edit</button>
            </form>
        </td>
        <td>
            <form action="{{ url_for('admin_book_menu') }}" method='POST'>
                <button type="submit" name="delete_button" value='{{ data["title"] }}' class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}