{% extends 'base.html' %}

{% block title %}Edit Book Information{% endblock %}

{% block content %}
<form action="{{ url_for('admin_edit_book', book_title = book_data[2]) }}" method="POST">
    <label for="cover-url">Cover URL:</label>
    <input type="text" name="cvr" value="{{ book_data[1] }}">
    <br>

    <label for="title">Title:</label>
    <input type="text" name="ttl" value="{{ book_data[2] }}">
    <br>

    <label for="desc">Description:</label>
    <textarea name="dsc" id="" cols="100" rows="15">{{ book_data[3] }}</textarea>
    <br>

    <label for="author">Author:</label>
    <input type="text" name="auth" value="{{ book_data[4] }}">
    <br>

    <label for="publisher">Publisher:</label>
    <input type="text" name="pub" value="{{ book_data[5] }}">
    <br>

    <label for="publish date">Publication Date:</label>
    <input type="text" name="pub date" value="{{ book_data[6] }}">
    <br>

    <label for="genres">Genres:</label>
    <input type="text" name="gen" value="{{ book_data[7] }}">
    <br>

    <label for="language">Language:</label>
    <input type="text" name="lang" value="{{ book_data[8] }}">
    <br>

    <label for="pages">Pages:</label>
    <input type="text" name="pg" value="{{ book_data[9] }}">
    <br>

    <label for="compatibility">Compatibility:</label>
    <input type="text" name="comp" value="{{ book_data[10] }}">
    <br>

    <label for="price">Price (IDR):</label>
    <input type="text" name="prc" value="{{ book_data[11] }}">
    <br>

    <label for="rating">Rating:</label>
    <input type="text" name="rtg" value="{{ book_data[12] }}">
    <br>
    
    <label for="num of review">Number of Review:</label>
    <input type="text" name="num rev" value="{{ book_data[13] }}">
    <br>

    <button type="submit">Edit</button>
</form>

<form action="{{ url_for('admin_book_menu') }}">
    <button>Cancel</button>
</form>
{% endblock %}