{% extends 'base.html' %}

<h3>{% block title %}Book's Details{% endblock %}</h3>

{% block content %}
<div class="row">
        <div class="col">
            <img src="{{ datas['cover'] }}" class="img-fluid rounded">
        </div>
        <div class="col" style="background-color: white; border-radius: 1em; padding: 2rem;">
            <h2>{{ datas['title'] }}</h2>
            <p>{{ datas['author'] }} &emsp; {{ datas['date'] }} <br> {{ datas['publisher'] }}</p>
            <p style="font-size:14px;">{{ datas['description'] }}</p>
            <p>Genres: {{ datas['genres'] }}</p>
            <p>Languages: {{ datas['language'] }}</p>
            <p>Rating: {{ datas['rating'] }}</p>
            <p>Number of Reviews: {{ datas['total_rating'] }}</p>
        </div>

    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-3" style="margin:0;">
            </div>
            <hr>
            <div class="col-lg-9" style="margin:0;">
            </div>
        </div>        
    </div>
    
</div>
{% endblock %}