{% extends 'base.html' %}

<h1>{% block title %}Book Catalogue{% endblock %}</h1>

{% block sidebar %} 
<div class="form-group bg-dark text-white px-2 py-2 rounded">
    <div class="form-group text-center">
        <h4>Filter</h4>
    </div>

    <form action="{{ url_for('filter') }}" method="POST">
        <div class="form-group">
            <label for="genre-f">Genre: </label>
            <select class="form-control" name="genre" id="genre-f">
                <option value="Select" selected>Select</option>
                {% for genre in genre_list %}
                    <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="lang-f">Languages: </label>
            <select class="form-control" name="lang" id="lang-f">
                <option value="Select" selected>Select</option>
                {% for lang in lang_list %}
                    <option value="{{ lang }}">{{ lang }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="comp-f">Compatibility: </label>
            <select class="form-control" name="comp" id="comp-f">
                <option value="Select" selected>Select</option>
                {% for comp in comp_list %}
                    <option value="{{ comp }}">{{ comp }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="pub-year-begin-f">Published Between: </label>
            </div>
            <div class="form-group col-sm-5 mb-2">
                <input class="form-control" type="number" min="1900" max="2099" step="1" name="pub-year-begin" id="pub-year-begin-f" />
            </div>
            -
            <div class="form-group col-sm-5 mb-2">
                <input class="form-control" type="number" min="1900" max="2099" step="1" name="pub-year-end" id="pub-year-end-f" />
            </div>
        </div>
        <div class="form-group">
            <label for="sort">Urutkan: </label>
            <select class="form-control" name="urut-harga" id="sort">
                <option value="Select" selected>Select</option>
                <option value="termahal-termurah">Termahal-Termurah</option>
                <option value="termurah-termahal">Termurah-Termahal</option>
                <option value="terbaru-terlama">Terbaru-Terlama</option>
                <option value="terlama-terbaru">Terlama-Terbaru</option>
                <option value="rating tertinggi-terendah">Rating Tertinggi-Terendah</option>
                <option value="rating terendah-tertinggi">Rating Terendah-Tertinggi</option>
            </select>
        </div>
        <div class="form-group" style="text-align:center;">
            <button type="submit" class="btn btn-success">Terapkan</button>
        </div>
    </form>
</div>


{% endblock %}

{% block content %}
<form action="{{ url_for('search') }}" method="POST">
    <div class="row">
        <div class="col-md-4 offset-md-7">
            <input class="form-control" type="search" name="search-phrs" placeholder="Ketik Kata Kunci">
        </div>
        <div class="">
            <button class="btn btn-info" type="submit">Cari</button>
        </div>
    </div>
    
</form>


<div class="row">
    {% if datas|length == 0 %}
    <p>Books Not Found</p>
    {% else %}
        {% for data in datas %}
            <div class="col-lg-3">
                <div aria-hidden="true" style="height: 400px; max-width: 280px;border:1px solid black;margin:10px;padding:10px;">
                    <a href="{{ url_for('detail', buku_id=data['id']) }}"><img aria-hidden="true" style="max-height: 230px; max-width: 160px; height: 230px;" src="{{ data['cover'] }}"></a>
                    <marquee scrollamount="5">{{ data['title'] }}</marquee>
                    <p>Penulis : {{ data['author'] }}</p>
                    <p>Penerbit : {{ data['publisher'] }}</p>
                    <span>{{ data['rating'] }}</span>
                    <span>{{ data['price'] }}</span>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}